<?php
echo '<h1>Asignación de mesa a mesero</h1>';
echo '<br>';
//Formulario para un nuevo mesero...
echo $this->Form->create('Mesa');
echo $this->Form->input('serie',['label'=>'Serie: ','type'=>'text']);
echo $this->Form->input('puestos',['label'=>'Cantidad de sillas: ','type'=>'text']);
echo $this->Form->input('posicion',['label'=>'Ubicación: ','type'=>'text']);

echo $this->Form->end('Crear Nueva mesa');

echo $this->Html->link('Regresar...',['controller'=>'mesas','action'=>'index'])

?>
